/*****************************rest*********************************/

html,body,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,form,input,img,p,i,span{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,strong{font-weight:100;}
a{text-decoration:none;color:#333333;}
a:hover{text-decoration:underline;color:#c40000;}
img{border:0;display:block;}
ul,li,ol{list-style:none;}
body{font:12px/1.5 "微软雅黑";color:#333333;}
i{font-style:normal;}
.center{width:1200px;margin:0 auto;}
.clear:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;s}
/*****************************top***********************/
.topbar{height:29px;width:100%;background:#f5f5f5;border-bottoom:1px solid #e6e6e6;}
.wrapper {width:1200px;margin:0 auto;line-height:29px;}
.logininfo{float:left;width:404px;height:29px;}
.logininfo .no-padding{padding-right:0;}
.wrapper .nocolorc a{color:#333333;}
.logininfo span{float:left;padding-right:23px;}
.wrapper span a{color:#3366cc;}
.wrapper  a{font:12px Arial;color:#333333;}
.wrapper  a:hover{text-decoration:underline;color:#c40000;}


.topmenu{float:right;height:29px;}
.topmenu li{float:left;}
.topmenu li a{padding:0 10px;float:left;height:29px;line-height:29px;}
.topmenu .mobile{background:url(img/mobile.jpg) no-repeat 5px center;
					padding-left:15px;}
.submenue{position:relative;}
/****有二级菜单的li****/
.show_submenue{background:#fff;border-right:1px solid #ededed;border-left:1px solid #ededed;
				margin-left:-2px;}
.showDiv{display:none;position:absolute;top:29px;left:-1px;background:#fff;
		border:1px solid #ededed;border-top:none;}
/**买家中心**/
.buy .showDiv{width:106px;height:80px;padding:8px 3px;}
.buy .showDiv a{height:45px;height:45px;line-height:45px;display:block;}
.buy .showDiv a em{color:#FF3334;margin-left:3px;}
/*****手机商城******/
.mobile .showDiv{width:130px;height:130px;padding:20px;}
.mobile .showDiv img{width:130px;height:130px;}
/******联系我们****/
.lianxi .showDiv{width:100px;height:30px;}
/*********header头部，，搜索框，广告*******************/
.header{padding:29px 0 22px 0;height:auto;}
.logo{float:left;width:180px;height:50px;}
.header p{float:left;margin-left:10px;width:154px;padding-left:10px;
		height:44px;border-left:1px solid #eeeeee;line-height:44px;
		color:#666666;}

/*热搜*/
.search_box{float:left;width:540px,height:61px;padding:12px 0 0 56px;}
.search{width:536px;height:32px;border:2px solid #c40000;}
.search input{float:left;border:none;height:32px;line-height:32px;outline:none;}
.search .put{width:446px;}
.search .btn{width:90px;background:#c40000;color:#fff;}
/*热搜*/
.hot_search a{float:left;margin-right:15px;color:#999999;}
.hot_search a:hover{text-decoration:underline;color:#FF3334;}
.zhibao{width:180px;heihgt:60px;float:right;}
.zhibao img{width:100%;height:100%;}
/****************nav_box*导航栏，侧导航，导航，活动***********/
.nav_box{height:32px;border-bottom:2px solid #c40000;position:relative;}
.nav_box h2{position:relative;float:left;width:200px;height:34px;color:#fff;background:#c40000;
			font-size:14px;line-height:34px;text-indent:35px;
			}
.nav_box h2	span{width:10px;height:6px;position:absolute;top:15px;
			background:#c40000 url(img/ico.png)no-repeat 0 0;
			right:20px;
			}
.left_nav{display:none;float:left;position:absolute;height:410px;width:200px;
			background:#2d2d2d;top:34px;left:0;z-index:20;}
.left_nav li{height:38px;width:199px;line-height:38px;margin-left:1px;
			border-top:1px solid #3d3d3d;}
.left_nav li i{float:left;width:20px;padding:13px 0 0 13px;}			
.left_nav li a{color:#fff;margin:0 5px 0 2px;font-weight:900;}
.left_nav li{color:#fff;font-weight:900;}
.left_nav .left_nav_hover{color:#333;background:#fff;}
.clock{height:70px;widht:200px;position:absolute;bottom:0;left:0;}
.clock img{width:100%;height:100%;}
/*******侧导航的详细信息*******/
.left_nav li div{display:none;position:absolute;background:#fff;width:740px;height:400px;
			top:10px;left:200px;opacity:0.98;padding-left:10px;}
.service{width:740px;height:auto;overflow:hidden;}			
.service dt{width:150px;height:40px;float:left;text-align:center;font-size:14px;
			color:#999;}	
.service dd{float:left;}			
/***********nav**************/
.nav{float:left;}
.nav li{padding:0 20px;float:left;height:30px;line-height:30px;
		font-size:15px}
.nav li a{color:#333333;}
.nav li a:hover{color:#ff3333;}
/**************footer*****************/	
.footer_up{margin-top:30px;border-top:1px solid #ededed;height:auto;padding-bottom:20px;}
.footer_service{height:50px;padding:30px 0;}
.footer_service li{line-height:50px;float:left;width:143px;height:50px;
					padding-right:66px;}
.footer_service li i{float:left;width:71px;height:50px;line-height:50px;}
.footer_service li a{float:left;height:50px;color:#333333;font-size:16px;}
.fs-relate{padding:20px 0;border-top:1px solid #ededed;}
.fs-relate ul{float:left;width:175px;}	
.fs-relate ul li{height:28px;line-height:28px;}
.fs-relate ul li a {color:#666666;}
.fs-relate ul .title{font-weight:900;color:#666;font-size:14px;}
.fs-relate dl,dt,dd{float:left;}
.fs-relate .hotline{padding-left:60px;background:url(img/hotline.png)no-repeat;}
.fs-relate .hotline li{width:210px;height:28px;}
.fs-relate .hotline .lastli{background:url(img/xinlang.png) no-repeat left center;
							padding-left:27px;width:183px;}
.fs-relate .coo{padding-left:60px;background:url(img/coop.png)no-repeat;}
.fs-relate .coo li{width:145px;}	
.fs-relate .coo .lastli{margin-top:5px;}
.fs-relate .coo .lastli a{width:80px;height:26px;color:#fff;background:#FF3333;padding:5px;}	
.coo .lastli a span{margin-right:5px;}

/*******footer_down*************/
.footer_down{background:#2d2d2d;padding:25px 0 30px 0;color:#CCCCCC;}	
.footer_down a{color:#fff;margin:0 10px;}
.partners{position:relative;width:1010px;
			padding:0 135px 0 55px;margin:0 auto;}
.partners p{width:1010px;height:48px;line-height:24px;}
.partners span{position:absolute;left:0;top:0;}			
.footernav{height:24px;margin-left:-10px;padding-top:7px;}
.footernav li{float:left;line-height:24px;}
.copyright{padding-top:20px;height:24px;margin-left:-10px;}
.copyright li{float:left;color:#ccc;}
.copyright li a{color:#ccc;}
.warning {padding-top:14px;}
.warning li{float:left;margin-right:7px;height:32px;}